<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">

<dom-module id="view-4">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class View4 extends Polymer.Element {
      static get is() { return 'view-4'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'view-4'
          }
        };
      }
    }

    window.customElements.define(View4.is, View4);
  </script>
</dom-module>
